@page "/"

@inject IProduct _product
@inject IMessageService _message

@using Joker.LearnBlazor.Web.Models
@using Joker.LearnBlazor.Web.Repository


<Layout>
    <Header Class="header">
        <div class="JokerLogo">
            Joker商品库
        </div>
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new []{"2"})>
            <MenuItem Key="1" @onclick="open">新增商品</MenuItem>
        </Menu>
    </Header>
    <Layout>
        <Sider Width="200" Class="site-layout-background">
            <Tree TItem="string" DefaultExpandAll="true">
                <TreeNode Title="parent 1" Key="0-0" TItem="string">
                    <TreeNode Title="parent 1-0" Key="0-0-0" TItem="string">
                        <TreeNode Title="leaf" Key="0-0-0-0" TItem="string"></TreeNode>
                        <TreeNode Title="leaf" Key="0-0-0-1" TItem="string"></TreeNode>
                    </TreeNode>
                    <TreeNode Title="parent 1-1" Key="0-0-1" TItem="string">
                        <TreeNode Key="0-0-1-0" TItem="string">
                            <TitleTemplate>
                                <span style="color: #1890ff; ">sss</span>
                            </TitleTemplate>
                        </TreeNode>
                    </TreeNode>
                </TreeNode>
            </Tree>
        </Sider>
        <Layout Style=" padding: 0 24px 24px;">
            <Breadcrumb Style="margin: 16px 0;">
                <BreadcrumbItem>电子产品</BreadcrumbItem>
                <BreadcrumbItem>手机</BreadcrumbItem>
            </Breadcrumb>
            <Content Class="site-layout-background" Style=" padding: 24px; margin: 0; min-height: 280px;">
                <AntList Grid="grid" DataSource="@Data">
                    <Card Bordered="false" Title="@(context.ProductName)">
                        <Extra>
                            <a @onclick="()=>HandleEdit(context.ProductId)">编辑</a>
                        </Extra>
                        <Body>
                            <Image Width="400px" Src="@("/images/"+context.ThumbnailImage)" />
                        </Body>
                    </Card>

                </AntList>
            </Content>
        </Layout>
    </Layout>
</Layout>

<Drawer Closable="true" Width="400" @bind-Visible="visible" Placement="right" Title='@btnText' OnClose="_=>close()">
    <Form Model="@model" OnFinish="HandleSubmit">
        <FormItem Label="商品名称">
            <Input @bind-Value="@context.ProductName" />
        </FormItem>
        <FormItem Label="商品图片">
            <Input @bind-Value="@context.ThumbnailImage" />
        </FormItem>

        <Button Type="@ButtonType.Primary" HtmlType="submit">@btnText</Button>
        </Form>
    </Drawer>

    @code {
    #region
    private string btnText = "新增";
    private string res = "";
    private Product model = new Product();

    #endregion

    bool visible = false;
    private ListGridType grid = new()
        {
            Gutter = 16,
            Xs = 4,
            Sm = 4,
            Md = 4,
            Lg = 4,
            Xl = 4,
            Xxl = 4,
        };

    public List<Product> Data = new List<Product>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Data = _product.GetList();
    }

    void open()
    {
        this.visible = true;
    }
    void close()
    {
        this.visible = false;
    }

    /// <summary>
    /// 新增按钮
    /// </summary>
    private void HandleSubmit()
    {
        Console.WriteLine("提交了,名称是:" + model.ProductName);
        string res = "";
        if (model.ProductId != 0)
        {
            // 编辑
            _product.Update(model);
            res = "编辑成功!!!";
        }
        else
        {
            // 新增
            model.ProductId = new Random().Next(5, 10000);
            _product.Add(model);
            res = "新增成功!!!";            
        }
        // 清空文本框
        model = new Product();
        _message.Info(res);
        this.close();
    }

    /// <summary>
    /// 编辑按钮
    /// </summary>
    /// <param name="id"></param>
    private void HandleEdit(int id)
    {
        model = _product.GetModel(id);
        btnText = "编辑";
        this.open();

    }

}

<style>
    #components-layout-demo-top-side-2 .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 28px 16px 0;
        float: left;
    }

    .site-layout-background {
        background: #fff;
    }

    .JokerLogo {
        color: white;
        font-size: 22px;
        width: 200px;
        float: left;
        font-weight: bold;
    }

</style>

